Django==3.2.*
dj-database-url
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-storages
drf-spectacular
pytest-django
coverage
psycopg2
gunicorn
channels
channels-redis
python-decouple
pillow
redis
django-redis
celery
django-celery-beat
django-celery-email
celery-redbeat
tqdm
boto3
